/DeleteCustomerOP.class
/NewCustomerOP.class
/addCarOP.class
/addCustomerOP.class
/addFlightOP.class
/addRoomOP.class
/deleteCarOP.class
/deleteFlightOP.class
/deleteHotelOP.class
/itineraryOP.class
/operations.class
/reserveCarOP.class
/reserveFlightOP.class
/reserveHotelOP.class
